[Desktop Entry]

Type=Application
Version=2.3.0
Name=Agemo
Comment=Wallpaper GUI

# installer will place $HOME in {}
Path={}/.local/share/agemo
Exec=/usr/bin/env uv run --project . src/agemo.py
Icon={}/.local/share/agemo/assets/agemo.svg
Terminal=false
Keywords=wallpaper;hyprpaper
