[Desktop Entry]

Type=Application
Version=2.0
Name=Agemo
Comment=Wallpaper GUI

# installer will place $HOME in {}
Exec=uv run {}/.local/share/agemo/agemo.py
Icon={}/.local/share/agemo/assets/agemo.svg
Terminal=false

